// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Content wrap
@mixin content-wrap {
	padding-left: $spacing__default-sm;
	padding-right: $spacing__default-sm;

	@media screen and (min-width: 600px) { 
		padding-left: $spacing__default-md;
		padding-right: $spacing__default-md;
	}

	@media screen and (min-width: 1100px) { 
		padding-left: $spacing__default-lg;
		padding-right: $spacing__default-lg;
		margin: 0 auto;
	}
}

@mixin entry-content {
	padding-left: $spacing__content-sm;
	padding-right: $spacing__content-sm;

	@media screen and (min-width: 600px) { 
		padding-left: $spacing__content-md;
		padding-right: $spacing__content-md;
	}

	@media screen and (min-width: 1100px) { 
		padding-left: $spacing__content-lg;
		padding-right: $spacing__content-lg;
		margin: 0 auto;
	}
}

@mixin total-wrap {
	padding-left: $spacing__total-sm;
	padding-right: $spacing__total-sm;

	@media screen and (min-width: 600px) { 
		padding-left: $spacing__total-md;
		padding-right: $spacing__total-md;
	}

	@media screen and (min-width: 1100px) { 
		padding-left: $spacing__total-lg;
		padding-right: $spacing__total-lg;
		margin: 0 auto;
	}
}

@mixin entry-title {
	text-align: center;
	font-size: 2.5em;
	font-family: $font__title;
	letter-spacing: 0.05em;

	@media screen and (min-width: 600px) { 
		font-size: 3em;
	}
}