// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Content wrap
@mixin content-wrap {
	padding-left: var(--sbtl-spacing-default);
	padding-right: var(--sbtl-spacing-default);

	@media screen and (min-width: 1100px) { 
		margin: 0 auto;
		max-width: var(--sbtl-max-width);
	}
}

@mixin entry-content {
	padding-left: var(--sbtl-spacing-content);
	padding-right: var(--sbtl-spacing-content);
	position: relative;
	z-index: 1;

	@media screen and (min-width: 1100px) { 
		margin: 0 auto;
	}
}

@mixin total-wrap {
	padding-left: var(--sbtl-spacing-total);
	padding-right: var(--sbtl-spacing-total);

	@media screen and (min-width: 1100px) { 
		// Calculate padding to center content within max-width
		// Formula: Base Padding + Half of the empty space outside max-width
		padding-left: calc(var(--sbtl-spacing-total) + max(0px, (100vw - var(--sbtl-max-width)) / 2));
		padding-left: calc(var(--sbtl-spacing-total) + max(0px, (100cqw - var(--sbtl-max-width)) / 2));
		padding-right: calc(var(--sbtl-spacing-total) + max(0px, (100vw - var(--sbtl-max-width)) / 2));
		padding-right: calc(var(--sbtl-spacing-total) + max(0px, (100cqw - var(--sbtl-max-width)) / 2));
		
		margin: 0 auto;
		max-width: unset;
	}
}

@mixin entry-title {
	text-align: center;
	font-size: 2.5em;
	font-family: $font__title;
	letter-spacing: 0.05em;

	@media screen and (min-width: 600px) { 
		font-size: 3em;
	}
}

@mixin responsive-grid-columns($cols-mobile: 1, $cols-tablet: 2, $cols-desktop: 3) {
	grid-template-columns: repeat($cols-mobile, 1fr);

	@media screen and (min-width: $bp-tablet) {
		grid-template-columns: repeat($cols-tablet, 1fr);
	}

	@media screen and (min-width: $bp-desktop) {
		grid-template-columns: repeat($cols-desktop, 1fr);
	}
}