/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
@import "../../abstracts/colors";
@import "../../abstracts/typography";
@import "../../abstracts/structure";
@import "../../abstracts/svg";
@import "../../abstracts/mixins";

// Define the fonts path variable
$fonts-path: '../../fonts/';

.editor-styles-wrapper {

	container-type: inline-size;
	overflow-x: hidden;

	background: $color__background-body; 

	font-size: 1.125rem;

	.sbtl-entry-header {
		@media screen and (min-width: 1100px) {
			box-sizing: border-box;
			padding: 0 4em;
		}
	}

	.edit-post-visual-editor__post-title-wrapper {
		display: flex;
		justify-content: center;
		position: relative;
		
		h1 {
			@include entry-title; 
		}
	}

	.wp-block-post-content {
		padding-left: $spacing__total-sm;
		padding-right: $spacing__total-sm;

		@media screen and (min-width: 600px) { 
			padding-left: $spacing__total-md;
			padding-right: $spacing__total-md;
		}

		@media screen and (min-width: 1100px) { 
			// Calculate padding to center content within max-width
			// Formula: Base Padding + Half of the empty space outside max-width
			// Fallback for browsers not supporting cqw
			padding-left: calc(var(--sbtl-spacing-total) + max(0px, (100vw - var(--sbtl-max-width)) / 2));
			padding-left: calc(var(--sbtl-spacing-total) + max(0px, (100cqw - var(--sbtl-max-width)) / 2));

			padding-right: calc(var(--sbtl-spacing-total) + max(0px, (100vw - var(--sbtl-max-width)) / 2));
			padding-right: calc(var(--sbtl-spacing-total) + max(0px, (100cqw - var(--sbtl-max-width)) / 2));
			
			margin: 0 auto;
			max-width: unset;
		}
	}

	.wp-block-quote {
		border-left: none;
		padding-left: 0;
	}
	blockquote, q {
		quotes: unset;
	}

	/*--------------------------------------------------------------
	# Elements
	--------------------------------------------------------------*/
	@import "../../elements/buttons";
	@import "../../elements/links";
	@import "../../elements/lists";
	@import "../../elements/media";
	@import "../../elements/copy";
	@import "../../elements/tables";

	/*--------------------------------------------------------------
	# Typography
	--------------------------------------------------------------*/

	color: $color__text-main;
	font-family: $font__main;
	line-height: $font__line-height-body;
	
	
	/*--------------------------------------------------------------
	# Media
	--------------------------------------------------------------*/
	
	@import "../../patterns/captions";
	@import "../../patterns/galleries";
	@import "../../patterns/media";

	/*--------------------------------------------------------------
	# General
	--------------------------------------------------------------*/

	/* Normalize
	--------------------------------------------- */
	@import "../../misc/normalize";


	/*--------------------------------------------------------------
	# Utilities
	--------------------------------------------------------------*/

	/* Accessibility
	--------------------------------------------- */
	@import "../../utilities/accessibility";

	/* Blocks
	--------------------------------------------- */
	@import "../../utilities/blocks";

	/* General Utilities
	--------------------------------------------- */
	@import "../../utilities/general";

	/* WP-Core Utilities
	--------------------------------------------- */
	@import "../../structure/content";
	@import "../../structure/wp-core";
	@import "../../abstracts/fonts";

	.block-editor-block-list__layout.is-root-container {
		> * {
			max-width: unset !important;
		}

		/* Alignments
		--------------------------------------------- */
		@import "../../utilities/alignments";
	}

	button.components-button {
		text-transform: none;
		box-shadow: none;
		text-shadow: none; 
	}

	.sbtl-tab-item.is-selected .sbtl-tab-title, .sbtl-tab-item.has-child-selected .sbtl-tab-title {
		background-color: $color__text-main !important;
		color: $color__background-body !important; 
	}

	.sbtl-tabs.is-style-classic {
		.sbtl-tab-item.is-selected .sbtl-tab-title, .sbtl-tab-item.has-child-selected .sbtl-tab-title {
			background-color: transparent !important;
			color: $color__link-hover !important;
			border-bottom: 2px solid !important;
		}
	}

	.wp-block.aligncenter {
		width: min-content;
	}
	
	// Fix Align Wide: Ensure it breaks out of the content column correctly
	.wp-block[data-align="wide"] {
		max-width: unset;
		width: calc(100% + (var(--sbtl-spacing-content) * 2));
		margin-left: calc(var(--sbtl-spacing-content) * -1) !important;
		margin-right: calc(var(--sbtl-spacing-content) * -1) !important;
	}

	// Fix Align Full: Just fill the container (break out of total padding)
	.wp-block[data-align="full"] {
		max-width: unset;
		width: calc(100% + (var(--sbtl-spacing-total) * 2));
		margin-left: calc(var(--sbtl-spacing-total) * -1) !important;
		margin-right: calc(var(--sbtl-spacing-total) * -1) !important;

		@media screen and (min-width: 1100px) {
			width: 100vw;
			width: 100cqw;
			margin-left: calc(50% - 50vw) !important;
			margin-left: calc(50% - 50cqw) !important;
			margin-right: calc(50% - 50vw) !important;
			margin-right: calc(50% - 50cqw) !important;
		}

		// Reset inner padding to simple values (no viewport math needed in editor)
		padding-left: var(--sbtl-spacing-total);
		padding-right: var(--sbtl-spacing-total);
	}

}