.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;

	@include center-block;

	margin-bottom: 1.5em;
}

body .is-layout-constrained > .alignwide,
.alignwide {
	max-width: unset;
	@media screen and (min-width: 600px) { 
		width: calc(100% + ((#{$spacing__content-md} + #{$spacing__content-md})));
		margin-left: calc(-1 * (#{$spacing__content-md})) !important;
	} 

	@media screen and (min-width: 1100px) { 
		width: calc(100% + ((#{$spacing__content-lg} + #{$spacing__content-lg})));
		margin-left: calc(-1 * (#{$spacing__content-lg})) !important;
	}

	box-sizing: border-box;
}

.type-post .alignwide {
	width: 100%;
	margin-left: 0 !important;
}

body .is-layout-constrained > .alignfull,
.alignfull {
	box-sizing: border-box;
	width: calc(100% + #{$spacing__total-sm} + #{$spacing__total-sm});
	margin-left: calc(-1 * #{$spacing__total-sm}) !important;
	max-width: unset;
	@media screen and (min-width: 600px) { 
		width: calc(100% + #{$spacing__total-md} + #{$spacing__total-md});
		margin-left: calc(-1 * #{$spacing__total-md}) !important;
	}
	@media screen and (min-width: 1100px) { 
		width: 100vw;
		margin-left: calc(-1 * (((100vw - 100%) / 2))) !important;
	}
} 

.content-wrap {
	@include content-wrap;
}


