.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;

	@include center-block;

	margin-bottom: 1.5em;
}

// Override WordPress Core Layout Constraints
.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
	max-width: unset !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

body .is-layout-constrained > .alignwide,
.alignwide {
	@include not-in-layout-block {
		max-width: unset;
		width: calc(100% + (var(--sbtl-spacing-content) * 2));
		margin-left: calc(var(--sbtl-spacing-content) * -1) !important;
		box-sizing: border-box;

		&.is-layout-constrained:not(.has-sidemenu .alignwide) {
			padding-left: var(--sbtl-spacing-content);
			padding-right: var(--sbtl-spacing-content);
		}
	}
}

.type-post .alignwide {
	width: 100%;
	margin-left: 0 !important;
}

body .is-layout-constrained > .alignfull,
.alignfull {
	@include not-in-layout-block {
		box-sizing: border-box;
		// Default behavior: break out of total padding (content + default)
		width: calc(100% + (var(--sbtl-spacing-total) * 2));
		margin-left: calc(var(--sbtl-spacing-total) * -1) !important;
		max-width: unset;

		// Large screens: break out to viewport (full bleed)
		@media screen and (min-width: 1100px) { 
			width: 100vw;
			width: 100cqw;
			margin-left: calc(50% - 50vw) !important;
			margin-left: calc(50% - 50cqw) !important;
		}
	}
} 

.content-wrap {
	@include content-wrap;
}
