:root {
	--accordion-body-height: 100%;
}

.accordion {
	border-bottom: 1px solid var(--sbtl-border-accent);
}

button.accordion {

	color: $color__text-light !important;
	background: transparent !important;
	border: 0;
	display: flex;
	justify-content: space-between;
	font-size: 0.8em;
	padding-left: 0;
	padding-right: 0;
	text-align: left;

	svg {
		width: 1.25em;
		padding-top: 0.2em;
		margin-left: 0.4em;
		transition: 0.25s ease-in-out;

		path {
			fill: $color__text-light;
		}
	}

	&:hover, &:focus {
		color: $color__link-hover !important;
		background: transparent !important;

		svg {
			path {
				fill: $color__link-hover;
			}
		}
	}

	&[aria-expanded="true"] {
		svg {
			transform: rotate(180deg);
			padding-top: 0;
			padding-bottom: 0.2em;
		}
	}
}

.accordion-body {
    height: var(--accordion-body-height);
    transition: 0.5s ease-in;
    overflow: hidden;

	&.min-height {
		height: max-content !important;
	}
}

.accordion[aria-expanded="false"] + .accordion-body, .accordion-container.closed .accordion-body {
    visibility: hidden;
    height: 0;
}

.faqs-listing {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 2em;
	gap: 2em;

	.faq {
		border-bottom: 1px solid var(--sbtl-border-accent);
		width: 100%;
		height: min-content;
		transition: 0.2s ease-out;

		@media screen and (min-width: 900px) {
			width: calc(50% - 1em);
		}

		&.open {
			border-bottom: 1px solid var(--sbtl-border-accent-active);
		}

		.faq__toggle {

			margin-top: 0;
			margin-bottom: 0;
			padding-bottom: 2em;
			display: flex;
			align-items: space-between;
			width: 100%;

			.faq__title {
				margin-top: 0;
				margin-bottom: 0;
				max-width: 90%;
			}
		}

		.faq__content {

			padding-bottom: 2em;

			p:first-child {
				margin-top: 0;
			}

			p:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.grid {

		.faq__item:first-child {
			width: 100%;

			.faq__title {
				display: none;
			}
		}

		.faq__item {
			width: 100%;
			margin-bottom: 2em;

			@media screen and (min-width: 600px) {
				width: calc( 50% - 1em);
			}

			@media screen and (min-width: 1100px) {
				width: calc( 32% - 1em);
			}

			.faq__thumbnail {
				width: 100%;
				height: 15em;
				position: relative;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}