/**
 * 1. Make the dialog container, and its child overlay spread across
 *    the entire window.
 */
 .dialog-container,
 .dialog-overlay {
   position: fixed; /* 1 */
   top: 0; /* 1 */
   right: 0; /* 1 */
   bottom: 0; /* 1 */
   left: 0; /* 1 */
 }

 .dialog-container {
   z-index: 2; /* 1 */
   display: flex; /* 2 */
   justify-content: center;
  align-items: center;
   visibility: visible;
   transition: 0.625s ease-out;
   z-index: 999;

   div[role="document"] {
    background: #fff;
    position: absolute;
    padding: 2em 3em;
    max-height: 88%;
    overflow-y: auto;
    width: 35em;
    max-width: 95%;

    h2:first-of-type {
      margin-top: 0;
    }
  }
 }
 
 .dialog-container[aria-hidden='true'] {
   visibility: hidden;
   opacity: 0;
   top: 5em;
 }
 
 .dialog-overlay {
   background-color: var(--parvus-overlay-color); 
 }

 .dialog-close {
  border-radius: 50%;
  padding: 0 0.325em !important;
  position: absolute;
  right: 1em;
  font-size: 1em;
  top: 1em;
  border: 0;
  display: block;
  background: transparent !important;
  color: $color__text-main !important;
 }
 
 .dialog-content.sidebar {
    z-index: 2;
    background-color: white;
    height: 100vh;
    padding: 2em;
    width: calc(100vw - 2.5em);
    width: calc(100cqw - 2.5em);
    right: 0;
    position: absolute;
    border-left: 0.5px solid #A5A5A6;
    overflow-y: auto;

    @media screen and (min-width: 480px) {
      width: 23rem;
    }

   select {
     width: 100%;
   }

   > *:first-child {
     margin-top: 0;
   }
 }

 dialog {
  position: fixed;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1em;
  background: white;
  z-index: 1000;
  max-width: unset;
 }
 dialog.sbtl-dialog__bottom {
  bottom: 0;
  right: 0;
  width: 100%;
  animation: modal-fade 150ms reverse ease-in forwards;
  &[open] {
    animation: modal-slide-up 300ms cubic-bezier(0.5, 0.04, 0.61, 0.98);
  }

  dialog.sbtl-dialog__top {
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh;
    margin-top: 0;
    max-height: unset;
    padding-top: 2.5em;
    @include content-wrap;
    &[open] {
      animation: modal-slide-down 300ms cubic-bezier(0.5, 0.04, 0.61, 0.98);
    }

    .sbtl-dialog-wrap {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      padding: inherit;
    }
  
    &::backdrop {
      background: rgba(0, 0, 0, 0.5);
    }
   }
}
dialog::backdrop {
  background: transparent;
}
@keyframes modal-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modal-zoom {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
@keyframes modal-slide {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes modal-slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}