.search-form {
	position: relative;
	width: min-content;

	div[role="combobox"] {
		display: flex;
		padding: 0 1em;
	}

	input[type="search"] {
		margin-top: 0;

		&:focus {
			outline: none;
		}

		&::placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: $color__text-light;
			opacity: 1; /* Firefox */
		}
	}

	.search-btn {
		border: 0;
		padding: 0.25em;
		margin: auto;
		margin-left: 0.75em;
	}

    .search-clear-btn {
    	border: 0;
		padding: 0.25em;
		background: transparent;
		margin: auto;
		margin-left: 0.25em;
		color: var(--sbtl-text-body);
        
        &:hover, &:focus {
            color: $color__text-main;
        }

		svg {
			width: 1em;
			height: 1.325em;
			padding: 0 0.1625em;
			box-sizing: content-box;
		}
    }
}

.search-container {
	position: relative;

	.search-results-dropdown, .search-loading {
		position: absolute;
		background: var(--sbtl-bg);
		width: 100%;
		top: 3.625em;
		box-shadow: var(--sbtl-box-shadow-light);
		z-index: 1000;
		max-height: 400px;
		overflow-y: auto;
		padding: 1rem;

		@include scroll-area;
	}

	.search-group {
		margin-bottom: 1rem;
	}

	.search-group-title {
		font-family: $font__bold;
		font-size: 1.2em;
		padding: 0 0.5em;
		color: $color__text-main;
		margin-bottom: 0.5rem;
		
		&:not(:first-of-type) {
			margin-top: 1em;
		}

		&:first-of-type {
			margin-top: 0;
		}
	}

	.search-group-list {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			padding: 0em 2.5em;
			margin: 0;
			font-weight: 100;
			font-size: 0.9em;
			display: flex;
			align-items: baseline;
			width: calc(100% + 2rem);
			margin-left: -1rem;

			&.active, &:has(> a:hover, > a:focus) {
				background-color: $menu_item_highlight;
			}

			a {
				display: inline-block;
				width: 100%;
				padding: 0.5em 0;
				color: $color__text-light;
				text-decoration: none !important;
				transition: background-color 0.2s;

				&:hover, &:focus, &:is(.active a) {
					color: $color__link-hover;
					outline: none;
				}
			}
		}
	}

	.no-results {
		padding: 1rem;
		text-align: center;
		color: $color__text-light;
	}
}

.search-btn {
	border: none;
	padding: 0;

	svg {
		width: 1.325em;
		height: 1.325em;
		fill: transparent;

		.filltext {
			fill: currentColor;
		}
	}

	&:hover, &:focus {
		background: none;

		.filltext {
			fill: $color__link-hover;
		}

		.stroketext {
			stroke: $color__link-hover;
		}
	}

	&[aria-expanded="true"] {
		.filltext {
			fill: $color__text-main;
		}

		.stroketext {
			stroke: $color__text-main;
		}
	}
}