table {
	margin: 0 0 1.5em;
	width: 100%;
	font-size: 0.9em;

	td, th {
		border: 1px solid var(--sbtl-border-accent) !important;
		padding: 0.5em;
		vertical-align: middle;
	}

	br {
		margin-bottom: 1em;
		display: block;
	}

	thead {
		border-bottom: 2px solid var(--border-accent) !important;
	}
	
	th {
		text-align: left;
	}
}
