.sticky {
	display: block;
}

.article-body.has-thumbnail {
	background: var(--sbtl-bg);
	position: relative;
}

#primary {
	&.has-sidemenu > .content-wrap {
		
		@media screen and (max-width: $bp-desktop) {
			.wp-block-media-text {
				grid-template-columns: 100% !important;
			}

			.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
				grid-column: 1;
				grid-row: 1;
			}

			.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
				grid-column: 1;
				grid-row: 2;
			}

			.wp-block-columns {
				flex-wrap: wrap !important;
			}

			.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
				flex-basis: 100% !important;
				max-width: 100% !important;
			}


		}
		
		.sidemenu {
			padding: 0 2rem;
			padding-bottom: 0.5em;
			padding-top: 1em;
			position: relative;
			border-bottom: 1px solid var(--sbtl-border-accent);
			transition: 0.25s ease-in-out;
			width: calc(100% + 2rem);
			margin-left: -1rem;
			background: var(--sbtl-bg);


			&.open {
				border-bottom: 1px solid var(--sbtl-border-accent-active);

				.sidemenu__list {
					height: var(--accordion-body-height);
					visibility: visible;
				}
			}

			@media screen and (min-width: $bp-tablet) {
				border-bottom: 0 !important;

				.sidemenu__title h2 {
					font-size: 1.375em;
				}

				.side-menu__wrap {
					margin-top: 3em;
				}
			}

			ul {
				list-style: none !important;
			}

			.sidemenu__title {
	
				min-height: 4.125em;
				display: flex;
				align-items: center;
				justify-content: space-between;

				@media screen and (min-width: $bp-tablet) {
					margin-right: 0;
					min-height: unset;
					border-bottom: 1px solid var(--sbtl-border-accent);
				}

				h2 {
					line-height: 1.25;
					font-size: 1.125em;
					margin-right: 3.25em;

					@media screen and (min-width: $bp-tablet) {
						font-size: 1.25em;
						margin-right: 0;
					}

					svg {
						width: 0.75em;
						padding-bottom: 0.075em;

						path {
							fill: $color__text-main;
						}

						line {
							stroke: $color__text-main;
						}
					}
				}
			}

			button.accordion.top-level {
				padding: 0.875em 0.5em;
				border-top: 2px double;
				border-bottom: 2px double;
				border-radius: 0;

				@media screen and (min-width: $bp-tablet) {
					display: none;
				}
			}

			nav {
				z-index: 1;
			}

			&.post-cat {
				.sidemenu__link {
					background: var(--sbtl-bg);
				}
			}

			.sidemenu__link {
				color: $color__text-main;
				//font-size: 1.25em;
				font-weight: 400;
				line-height: 1.5em;
				text-decoration: none;
				padding-right: 1.25em;

				&:hover, &:focus-visible {
					color: $sidemenu__header-link-text-hover;

					svg.arrow {
						path {
							fill: $sidemenu__header-link-text-hover;
						}

						line {
							stroke: $sidemenu__header-link-text-hover;
						}
					}
				}

			}

			.sidemenu__list {
				padding-left: 0;
				margin: 0;
				visibility: hidden;
				height: 0;

				@media screen and (min-width: $bp-tablet) {
					height: 100% !important;
					visibility: visible !important;
				}
			}

			.sidemenu__item {
				margin-bottom: 0;

				.children {
					border-left: 1px solid $color__ui;
				}
	
				
				.sidemenu__link {
					padding-top: 0.75em !important;
					padding-bottom: 0.75em;
					padding-left: 1.25em;
					display: block;	
				}

				button.sidemenu__link {
					font-size: 1em;
					position: relative;
					border-radius: unset;
					width: 100%;

					.caret {
						font-size: 0.8em;
					}

					&[aria-expanded="false"] {
						svg {
							transform: rotate(-90deg);
						}
					}

					&[aria-expanded="true"] {
						svg {
							transform: rotate(0deg);
						}
					}
				}

				.sidemenu__subwrap {

					position: relative;
					width: 100%;
					height: 100%;
					display: block;

					.sidemenu__link {
						padding-right: 2em;
					}

					.page-submenu-toggle {

						&[aria-expanded="false"] {
							svg {
								transform: rotate(-90deg);
							}
						}

						&[aria-expanded="true"] {
							svg {
								transform: rotate(0deg);
							}
						}
					}
				}

				&.is-active > a {
					color: $color__link-hover;
				}

				@media screen and (min-width: $bp-tablet) {
					.sidemenu__link {
						border-top: 1px solid var(--sbtl-border-accent);
						color: $sidemenu__item-link-text;

						&:hover, &:focus-visible {
							background-color: $sidemenu__item-link-bg-hover !important;
							color: $sidemenu__item-link-text-hover !important;
						}
					}

					&:last-child {
						> .sidemenu__link, .children {
							border-bottom: 1px solid var(--sbtl-border-accent);
						}
					}

					.children {
						background: $sidemenu__item-children-bg;
						padding-left: 1em;
						position: relative;
						border-top: 1px solid var(--sbtl-border-ui);
						border-left: none;

						.sidemenu__link {
							border-top: none;
							border-bottom: none;

							&:hover, &:focus-visible {
								background-color: $sidemenu__item-children-bg !important;
							}
						}

						.sidemenu__item.is-active .sidemenu__link {
							font-family: $font__semibold;
							background: transparent;
						}
					}

					&.is-active > a,
					&.is-active .sidemenu__subwrap > a {
						color: $sidemenu__item-link-text-active !important;
						background: $sidemenu__item-link-bg-active;

						&:hover, &:focus-visible {
							color: $sidemenu__item-link-text-active !important;
						}
					}
				}
			}

			.page-submenu-toggle, button.sidemenu__link .caret {
				position: absolute;
				right: 0;
				height: 100%;
				top: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 2.75em;
			}
		}

		.sidemenu.post-cat {
			position: relative;

			.sidemenu__link {
				display: flex;
				align-items: center;
			}

			.sidemenu__link:hover, .sidemenu__link:focus-visible {
				.sidemenu__icon svg {

				}
			}

			.sidemenu__icon {
				margin-right: 1.5em;
				svg {
					width: 3em;
					height: 3em;
				}
			}

			h2 {
				margin-right: 1.25em;
			}
		}

		@media screen and (min-width: $bp-tablet) {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;

		

			article.page, .content-wrap-inner {
				width: 80%;

				.sbtl-cover {
					left: 0;
					z-index: 0;
					width: calc( 0.79 * (min(100vw, (var(--sbtl-max-width)) - 1rem) - var(--sbtl-spacing-default)) + max(0px, (100vw - var(--sbtl-max-width)) / 2) );
				}

				.entry-content{
					--sbtl-spacing-content: 0px;
					padding-left: 0 !important;
					
					// .alignwide is handled automatically by --sbtl-spacing-content: 0

					.alignfull { 
						@include not-in-layout-block {
							--sbtl-alignfull-left-bleed: calc(var(--sbtl-spacing-total) + max(0px, (100vw - var(--sbtl-max-width)) / 2));
							--sbtl-alignfull-right-bleed: 0px;

							// Nested alignfull needs to break out of parent's right padding
							& .alignfull {
								--sbtl-alignfull-right-bleed: var(--sbtl-spacing-default);
							}

							width: calc(100% + var(--sbtl-alignfull-left-bleed) + var(--sbtl-alignfull-right-bleed)) !important;
							margin-left: calc(-1 * var(--sbtl-alignfull-left-bleed)) !important;
							margin-right: calc(-1 * var(--sbtl-alignfull-right-bleed)) !important;
							
							// Add padding so content inside aligns with the text column
							padding-left: var(--sbtl-alignfull-left-bleed) !important;
							padding-right: var(--sbtl-spacing-default) !important;
						}
					}


				}
				
			}

		

			
			article.post .entry-footer {
				margin-bottom: 4em;
			}

			.sidemenu {
				padding-left: 0;
				padding-right:0;
				width: 21%;
				padding: 0 1rem;
				padding-right: 0;

				ul {
					margin: 0;
				}

				.sidemenu__wrap {
					position: sticky;
					top: calc(var(--sbtl-header-height) + 1.25em);
					font-size: 0.875em;
					max-height: calc(100vh - (var(--sbtl-header-height) + 1.25em));
					width: calc(100% + 1em);
					padding-right: 1em;

					@include scroll-area;
				}

			}

			.sidemenu__title, .sidemenu__title .sidemenu__link,
			.sidemenu__title h2,
			 .sidemenu__icon {
			width: 100%}

			.sidemenu.post-cat {
				position: relative;

				.sidemenu__link {
					flex-direction: column;
				}

				.sidemenu__icon {

					display: flex;
					justify-content: center;

					margin-right: 0;
					svg {
						width: 7em;
						height: 7em;
					}
				}

				h2 {
					margin-right: 0;
				}

				.sidemenu__wrap {
					position: relative;
					top: 3em;
					max-height: unset;
				}
			}
		}



		@media screen and (min-width: 900px) {
			.sidemenu {
				width: 20%;
			}
		}


	}

	&.has-sidemenu.has-left-sidemenu > .content-wrap {
		@media screen and (min-width: $bp-tablet) {
			flex-direction: row;

			.sidemenu {
				padding-right: 0;
			}

			.sbtl-cover {
				left: unset !important;
				right: 0;
			}

			article.page, .content-wrap-inner {
				.entry-content {
					
					.alignfull { 
						@include not-in-layout-block {
							--sbtl-alignfull-left-bleed: 0px !important;
							--sbtl-alignfull-right-bleed: calc(var(--sbtl-spacing-total) + max(0px, (100vw - var(--sbtl-max-width)) / 2)) !important;

							// Nested alignfull
							.alignfull {
								--sbtl-alignfull-left-bleed: var(--sbtl-spacing-default) !important;
							}

							padding-left: var(--sbtl-spacing-default) !important;
							padding-right: var(--sbtl-alignfull-right-bleed) !important;
						}
					}
				}
			}
		}
	}
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	@include entry-content;
}

.attribution {
	font-family: $font__light;
	color: $color__text-light;
}

.post-thumbnail img {
	width: 100%;
	height: auto;
}

.entry-header {
	display: flex;
	justify-content: center;
	position: relative;

	&.rich {
		flex-direction: column;
		align-items: center;
		margin: 3em auto;

		h1 {
			margin-top: 0.125em;
			margin-bottom: 0.125em;
		}
	}
}

.sbtl-cover.with-overlay {
	background-color: var(--sbtl-bg);
	mix-blend-mode: multiply;

	img {
		opacity: 0.8;
		mix-blend-mode: multiply;
	}
}

.article-header {
	h1 {
		margin-bottom: 0.75em;
	}
	hr {
		margin-top: 2em;
		margin-bottom: 3em;
	}

	.entry-meta, h1 {
		position: relative;
	}
	

	&.has-thumbnail {
		padding-top: 2em;
		padding-bottom: 2em;

		h1 {
			margin-bottom: 0;
			font-family: $font__title;
			font-size: 2em;
			@media screen and (min-width: $bp-tablet) {
				max-width: 66%;
				
				span {
					padding-top: 0.125em;
				}
			}
		}

		h1 span {
			background: var(--sbtl-bg);
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			display: inline-block;
		}

		.entry-meta {
			background: var(--sbtl-bg);
			display: inline-block;
			padding: 1.5rem;
		}

		hr {
			@media screen and (min-width: $bp-tablet) {
				width: 95%
			}
			margin-left: 0;
		}
	}
}

.article-header.has-thumbnail ~ .alignfull.content-wrap {
	padding-top: 2em;
	padding-bottom: 4em;

	> .entry-footer {
		margin-bottom: 0 !important;
	}
}

.entry-meta, .share-label {
	color: $color__text-light;
	font-family: $font__light;
	font-size: 0.8em;
	margin-bottom: 0.75em;
}

.entry-meta {
	font-family: $font__light;

	svg.arrow {
		transform: rotate(180deg);
		width: 1.5em;
		height: 1.5em;
	}
}

h1.is-style-font-title,
h2.is-style-font-title,
.entry-title,
.page-title {
	@include entry-title;
	
	&.search {
		margin-top: 1.5em;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

main.homepage {
	position: relative;
	z-index: 9;
}

//nav links
.nav-links {
	.nav-subtitle {
		font-size: 0.8em;
		font-family: $font__light;
		color: $color__accent;
	}
	.nav-title {
		font-size: 1.1em;
		font-family: $font__semibold;
		color: $color__text-main;
	}

	a {
		text-decoration: none !important;

		&:hover, &:focus {
			text-decoration: none;

			.nav-title {
				text-decoration: underline;
			}
		}

		&:focus-visible {
			outline: none;

			.nav-title {
				outline: 2px solid $color__accent;
				outline-offset: 4px;
				transition: 0.2s ease-in;
			}
		}
	}
}

.sbtl-social-share {
	margin-top: 0.75em;
	a {
		position: relative;
		width: 1.125em;
		height: 1.125em;

		&:not(:first-child) {
			margin-left: 0.625em;
		}

		.screen-reader-text {
			color: var(--sbtl-bg);
			transition: 0.3s ease-in-out;
			font-family: $font__light;
			height: max-content;
			width: max-content;
			bottom: -3em;
			z-index: 99999;
			background: $color__text-main;
			clip: unset;
			clip-path: unset;
			padding: 0.325em 0.75em;
			font-size: 0.625em;
			border-radius: 16px;
			top: 2.5em;
			overflow: visible;
			box-sizing: border-box;
			left: -4em;
			opacity: 0;
		}

		&:hover, &:focus {
			.fillaccent {
				fill: $color__text-main;
			}

			.screen-reader-text {
				opacity: 1;
				transition: 0.3s ease-in-out;
			}
		}
	}
}

//comments
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

// Author bio

#article-author {
	padding-top: 4em;
}

#primary.has-sidemenu #article-author {
	padding-right: 0 !important;
}

.author-box {
	background: $author_box-bg;
	padding: 2em;
	border-radius: 0.875em;
	box-shadow: none;

	.author-avatar {
		margin: 0 auto;
		width: auto;
		width: 9em;
		height: 9em;
		aspect-ratio: 1 / 1;
		position: relative;
		
		.author-image {
			vertical-align: middle;
			display: inline;
		}
		
		figure, img {
			height: 100%;
			width: 100%;
		}
		img {
			object-fit: cover;
			border-radius: 50em;
			vertical-align: middle;
			width: 100%;
		}

		@media screen and (min-width: 768px) {
			margin: 0;
			margin-right: 2em;
		}

		@media screen and (min-width: 1400px) {
			width: 13em;
			height: 13em;
		}
	}

	h2 {
		text-align: center;
	}

	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;

		h2 {
			text-align: left;
			margin-top: 0;
		}
	}

	.author-info p {
		font-size: 0.8em;
	}
}

footer.page-article-footer {
	margin-top: 0;
	
	> .alignfull {
		background: var(--sbtl-bg);
		padding-top: 4em;
		padding-bottom: 4em;
	}

	p.date {
		margin-top: 0;
	}
}


.type-post .entry-footer, .services-listing {
	margin-bottom: 4em;
}