.sbtl-cover {
    position: fixed;
    display: block;
    height: 100vh;
    width: 100%;
    z-index: -1;
    top: 5em;
    left: 0;
    overflow: hidden;
}

.sbtl-cover-img.ls-blur-up-is-loading,
.sbtl-cover-img.lazyload:not([src]) {
    visibility: hidden;
}

.ls-blur-up-img,
.sbtl-cover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.ls-blur-up-img {
    filter: blur(10px);
    opacity: 1;
    transition: opacity 1000ms, filter 1500ms;
}

.ls-blur-up-img.ls-inview.ls-original-loaded {
    opacity: 0;
    filter: blur(5px);
}