a.header-top-bar {
    text-align: center;
    display: block;
    text-decoration: none !important;
    padding: 0.625em 0;
    font-size: 0.9em;
    font-family: $font__semibold;

    &:hover, &:focus-visible {
        background-color: var(--header-top-bar-bg-hover) !important;
        color: var(--header-top-bar-text-hover) !important;
    }
}

.site-header {
    display: flex;
    height: var(--sbtl-header-height);
    box-sizing: border-box;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    background: $header_bg;

    .logo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        z-index: 999;
        a {
            margin-right: 1.25em;
            height: 3.75em;
            border-radius: 1px;
            text-decoration: none;
            &:hover, &:focus-visible {
                text-decoration: none;
                h1 {
                    text-decoration: underline;
                }
            }
            h1 {
                font-size: 2em;
                margin: 0;
                text-decoration-thickness: 5px;
            }
            svg {
                height: 100%;
            }
        }
    }

    .nav-bar {
        width: 1.25em;
        height: 0.275em;
        margin-bottom: 0.125em;
        display: block;
        position: relative;
       // transition: 0.2s ease-in;
        border-top: 2px solid currentColor;
        transition: opacity 0.2s ease-in 0.2s;
        
        &:last-child {
            margin-bottom: 0;
        }
    }

    .main-navigation.untoggled {
        
       .nav-bar {

            &:nth-child(2) {
             
                animation: nav-bar-top-rvs 0.4s ease-in forwards;
            }
            &:nth-child(4) {
                animation: nav-bar-bottom-rvs 0.4s ease-in forwards;    
            }
        }
    }

    .menu-toggle {
        background: none;
        border: none;
        padding: 0;
        border-radius: 0;
        z-index: 9999;
        color: $header_nav-text;
        position: relative;
        margin-left: 0.5em;


        &[aria-expanded="true"] {

            .nav-bar {
                border-color: #000;
                &:nth-child(2) {
                animation: nav-bar-top 0.4s ease-in forwards;
                transition: 0.2s ease-in;
                transform-origin: 10.75px 1.75px;
                }
                &:nth-child(3) {
                   opacity: 0;
                   transition: opacity 0s;
                }
                &:nth-child(4) {
                    animation: nav-bar-bottom 0.4s ease-in forwards;
                    transform-origin: 14.5px 1.75px;
                    transition: 0.2s ease-in;
                }
            }

        }
    }

    .search-btn {
        margin-right: 0.25em;
        margin-left: 1.25em;

        @media screen and (min-width: 600px) {
            margin-right: 0;
        }

        .close_ico {
            display: none;
            width: 1em;
            height: 1em;
            padding: 0 0.1625em;
            box-sizing: content-box;
        }

        &[aria-expanded="true"] {
            .close_ico {
                display: block;
            }

            .search_ico {
                display: none;
            }
        }
    }

    #search-form {
        position: absolute;
        visibility: hidden;
        width: 100%;
        left: 0;
        top: var(--sbtl-header-height);
        background: var(--sbtl-bg);
        height: 0;
        transition: 0.5s ease-in;
        z-index: 998;

        .entry-content {
            margin-top: 0 !important;
        }

        .search-form-wrap {
            //visibility: hidden;
            //height: 0;
            //transition: 0.5s ease-in;
            //display: none;
            padding-top: 1em;
            padding-bottom: 1em;
            visibility: hidden;
            opacity: 0;
            transition: 0s;
           
        }

        &[aria-hidden="false"] {
            visibility: visible;
            height: 3.8em;
            @media screen and (min-width: 480px) {
                height: 5.8em;
            }
            .search-form-wrap {
                visibility: visible;
                //height: 3.8em;
                transition-delay: 0.4s;
                opacity: 1;
            }
        }

        form {
            position: relative;
            width: 100%;
        }

        label, input[type="search"] {
            width: 100%;
            margin: 0;
        }

        input[type="search"] {
            font-size: 0.8em;
            padding: 1em;
            border: 0;

            &:hover {
                background: none;
            }

            @media screen and (min-width: 480px) {
                font-size: 1.125em;
            }
        }

        .search-btn {
            top: 0;
            right: 1em;
            height: 100%;
        }
    }
}

@keyframes nav-bar-top {

    0% {
        transform: none;
    }

    65% {
        transform: translateY(0.525em);
    }
    100% {
        transform: translateY(0.525em) rotate(45deg);
    }
}
    
@keyframes nav-bar-bottom {

    65% {
        transform: translateY(-0.525em);
    }
    100% {
        transform: translateY(-0.525em) rotate(-45deg);
    }
}

@keyframes nav-bar-top-rvs {

    0% {
        transform: translateY(0.525em) rotate(45deg);
    }

    65% {
        transform: translateY(0.525em) rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes nav-bar-bottom-rvs {

    0% {
        transform: translateY(-0.525em) rotate(-45deg);
    }

    65% {
        transform: translateY(-0.525em);
    }
    100% {
        transform: rotate(0);
    }
}