a.header-top-bar {
    text-align: center;
    display: block;
    text-decoration: none !important;
    padding: 0.625em 0;
    font-size: 0.9em;
    font-family: $font__semibold;

    &:hover, &:focus-visible {
        background-color: var(--header-top-bar-bg-hover) !important;
        color: var(--header-top-bar-text-hover) !important;
    }
}

.site-header {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 99;
    background: $header_bg;
    position: relative;
    top: 0;

    .logo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        z-index: 999;
        a {
            margin-right: 1.25em;
            height: 3.75em;
            border-radius: 1px;
            text-decoration: none;
            &:hover, &:focus-visible {
                text-decoration: none;
                h1 {
                    text-decoration: underline;
                }
            }
            h1 {
                font-size: 2em;
                margin: 0;
                text-decoration-thickness: 5px;
            }
            svg {
                height: 100%;
            }
        }
    }

    .menu-toggle {
        background: none;
        border: none;
        padding: 0;
        border-radius: 0;
        z-index: 9999;
        overflow: hidden;
        color: $header_nav-text;
        position: relative;

        .line {
            transition: all 0.9s ease-in, stroke-dasharray 0.45s ease-out;
            stroke-dasharray: 60 31 60 300;
        }

        svg {
            transition: 0.9s ease-in;
            width: 2.5em;
            height: 2.5em;
        }


        &[aria-expanded="true"] {

            svg {
                rotate: 0.125turn;
                translate: 2px -2px;
            }

            .line {
                stroke-dasharray: 60 104 60 300;
                stroke-dashoffset: -90;
              }

        }
    }

    .search-btn {
        margin-right: 0.25em;
        margin-left: 1.25em;

        @media screen and (min-width: 600px) {
            margin-right: 0;
        }

        .close_ico {
            display: none;
            width: 1em;
            height: 1em;
            padding: 0 0.1625em;
            box-sizing: content-box;
        }

        &[aria-expanded="true"] {
            .close_ico {
                display: block;
            }

            .search_ico {
                display: none;
            }
        }
    }

    #search-form {
        position: absolute;
        width: 100%;
        left: 0;
        top: 4em;
        background: var(--sbtl-bg);

        .search-form-wrap {
            visibility: hidden;
            height: 0;
            transition: 0.5s ease-in;
            overflow: hidden;
           
        }

        &[aria-hidden="false"] {
            .search-form-wrap {
                visibility: visible;
                height: 3.8em;
                padding-top: 1em;
                padding-bottom: 1em;
               

                @media screen and (min-width: 480px) {
                    height: 4.5em;
                }
            }
        }

        form {
            position: relative;
            width: 100%;
        }

        label, input[type="search"] {
            width: 100%;
            margin: 0;
        }

        input[type="search"] {
            font-size: 0.8em;
            padding: 1em;
            border: 0;

            &:hover {
                background: none;
            }

            @media screen and (min-width: 480px) {
                font-size: 1.125em;
            }
        }

        .search-btn {
            top: 0;
            right: 1em;
            height: 100%;
        }
    }

    .search-loading {
        padding: 2em 0;
        svg {
            width: 10em;
            margin: 0 auto;
            display: block;
        }
    }
}