.has-sidemenu .entry-listing.grid {
    @include responsive-grid-columns(1, 2, 2);

    @media screen and (min-width: $bp-wide) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.entry-listing {

    margin-top: 2em;
    margin-bottom: 4em;

    &.grid { 
        display: grid;
        grid-gap: 4em;
        @include responsive-grid-columns(1, 2, 3);

        @media screen and (min-width: $bp-tablet) {
            grid-gap: 2em 2em;
        }
    }

    .post, .page {

        position: relative;

        > a:first-of-type, > a:first-of-type:hover {
            color: inherit;
            text-decoration: none;
        }

        .post__card-body {
            padding: 2em;
            padding-bottom: 5em;
            height: 100%;
            pointer-events: none;
            z-index: 1;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            a {
                pointer-events: auto;
            }
        }

        > a:first-of-type {

            display: block;
            transition: 0.2s ease-in-out;
            background: $card__bg;
            border-radius: 0.75em;
            box-shadow: $card__shadow;
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 0;

            &:hover, &:focus {
                background: $card__bg-hover;
                box-shadow: $card__shadow-hover;
            }
        }

        .content {
            margin-bottom: 1.5em;
        }

        .entry-meta {
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 2em;
            box-sizing: inherit;
            width: 100%;
            padding: 0 2.5em;
            left: 0;

        }

        header {

            .card-title {
                font-family: $font__semibold;
                font-size: 1.2em;
                margin-top: 0;
                margin-bottom: 0;
            }            
    
        }

        .content {
            color: $color__text-light;
            font-size: 0.8em;
            line-height: 1.75;
        }

        .entry-tags {
            //position: absolute;
            //bottom: 4.25em;
            //padding: 0 2em;
            position: relative;
        }

        .entry-tags.category {
            overflow-x: hidden !important;
            max-width: 90%;
            padding: 0;
        }
    
        .entry-tag.category {
            display: flex;
            align-items: center;
            background: none !important;
            font-family: $font__semibold;
            font-size: 0.8em;
            padding-left: 0 !important;
            overflow-x: hidden;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $card__meta-text;
            border-radius: 0 !important;
            border-bottom: $card__meta-border;
            width: min-content;
            transition: unset !important;
            &:hover, &:focus {
                background: none !important;
                color: $card__meta-text-hover;
                border-bottom: $card__meta-border-hover;
    
                .folder {
                    path {
                        fill: $card__meta-text-hover;
                    }
                }
            }
    
            .folder {
                width: 1.5em;
                height: 1.5em;
                margin-right: 0.325em;
                padding-top: 0.525em;
    
                path {
                    fill: $card__meta-icon-clr;
                }
            }

            img {
                width: 2em;
                height: 2em;
                margin-right: 0.525em;
                border-radius: 50%;
                object-fit: cover;
                vertical-align: -0.5em;
            }
        }

    }
}

.entry-tags {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    position: relative;

    &.single {
        margin-top: -1em;
        margin-bottom: 3em;
    }

    a.entry-tag {
        color: $color__text-light;
        text-decoration: none;
        padding: 0.25em 0.75em !important;
        font-size: 0.8em !important;
        font-family: $font__light;
        letter-spacing: 0.1em;
        border-radius: 50px !important;
        box-shadow: none !important;
        background: $tag__bg !important;
        transition: 0.2s ease-in-out !important;
        height: min-content;

        &:hover, &:focus {
            background: $tag__bg-hover !important;
        }
    }
}

.entry-thumbnail {

    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 0;
    padding-bottom: 66.66%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 1.5s ease-in-out;
        position: absolute;
        top: 0;
    }
}

.archive-header {
    display: flex;
    margin-top: 4em;
    > div:first-child {
        margin-right: 4em;
    }

    .sbtl-link {
        display: block;

        &:not(:first-of-type) {
            margin-top: 1em;
        }
    }

    .entry-title {
        text-align: left;
    }

    @media screen and (min-width: 651px) {
        justify-content: space-between;

        > svg {
            max-width: 30%;
        }

    }

    @media screen and (max-width: 650px) {

        flex-direction: column-reverse;

        > div:first-child {
            margin-right: 0;
        }

        .sbtl-resources-link {
            position: absolute;
            top: 7em;
        }

        > svg {
            width: 8em;
            height: 8em;
            margin: 0 auto;
            margin-bottom: 1em;
        }

        .entry-title {
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 2.25em;
        }
    }
}

.article-cards {

    position: relative;

    .sbtl-link.service__link {
        text-align: right;
        display: block;
        z-index: 1;
        margin-bottom: 4em;

        .arrow {
            transform: rotate(180deg);
        }

    }

    .carousel ~ .sbtl-link.service__link {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 0;
    }
} 

.cat-listing-title {
    margin-top: 4em;
}

.article-cards.alignfull {
    .owl-nav,
    .sbtl-link,
    .cat-listing-title {
        @include content-wrap;

        @media screen and (min-width: 1100px) {
            padding-left: 5rem;
            padding-right: 5rem;
        }
    }
}

@media screen and (min-width: 600px) {

    #primary.has-sidemenu {
        .article-cards.alignfull .owl-nav,
        .article-cards.alignfull .sbtl-link,
        .article-cards.alignfull .cat-listing-title {
            padding-left: 0;
            padding-right: 0;
        }
    }

    #primary.has-sidemenu > .content-wrap article .entry-content .article-cards.alignfull  {
        padding-left: 0 !important;
        padding-right: 0 !important;
        .owl-nav,
        .sbtl-link,
        .cat-listing-title {
        padding-left: 4.5rem;
        padding-right: 0;
        }
    }
}


.cat-listing-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5em;

    svg {
        width: 8.5em;
        height: 8.5em;
    }

    text-decoration: none !important;
    color: var(--sbtl-text-heading) !important;

    @media screen and (min-width: 600px) {
        flex-direction: row;

        svg {
            margin-right: 1em;
        }
    }
}